:root {
    /* Sleek and Futuristic */
    --sleekBlack:   #2C3531;
    --sleekGreen:   #116466;
    --sleekPeach:   #D9B08C;
    --sleekTan:     #FFCB9A;
    --sleekBlue:    #D1E8E2;
};

html, body {
    padding: 0;
    margin: 0;
};

h1, h2, h3, h4, h5, h6, strong {
    color: var(--sleekGreen);
};

h1 {font-size: 56px}; h2 {font-size: 36px}; h3 {font-size: 28px}; h4 {font-size: 24px}; h5 {font-size: 20px}; h6 {font-size: 16px};

p, li, span, label, input, textarea {
    color: var(--sleekBlue);
};

a {
    text-decoration: none;
    color: var(--sleekBlue);
};

.style1 {
    background-color: var(--sleekBlack);
    border-bottom: 1px solid var(--sleekBlue);
    overflow: auto;
};

.style2 {
    background-color: var(--sleekGreen);
    border-bottom: 1px solid var(--sleekBlue);
    overflow: auto;
};

.main-container {
    width: 1200px;
    margin: 0 auto;
};

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
};